*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 20px 0;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn-add {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
}

.btn-delete {
    background-color: #ffc107;
    border: 1px solid #ffc107;
}

.btn-clear {
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

table {
    width: 100%;
}

th {
    border-top: 3px solid #f8f9fa;;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

td {
    background-color: #f8f9fa;
    padding: 20px;
}

input, select {
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.action-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-calculate {
    background-color: #28a745;
    font-size: 18px;
}

.btn-clear-row {
    background-color: #ffc107;
    color: #000;
    font-size: 18px;
}

.btn-delete-row {
    background-color: #dc3545;
    font-size: 18px;
}